body{
background-color: #D6D6D6;
}
.calc__box{
    width: 243px;
    height: 55vh;
    background-color: #D6D6D6;
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
    border-color: #ECECEC;
    border-style: outset outset outset outset;
    border-left-color: #ECECEC;
    box-shadow: 5px 5px 20px #BCB6B6;
}

.input__box{
    padding-right: 9px;
    margin-bottom: 30px;}
input{
    width: 100%;
    height: 50px;
    border-style: inset inset inset inset;
    background-color: #D6D6D6;
    border-color: white;
    direction: rtl;
    font-size: medium;
    font-variant-numeric: slashed-zero;
}
.button_box{
    display: flex;
    flex-wrap: wrap;
}

section{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex__item{
    flex-grow: 1;
    margin: 10px 3px 3px 2%;
    height: 50px;
    border-radius: 10px;
    width: calc(100% * (1/4) - 10px - 10px);
    font-size: 14pt;
    font-weight: bold;
    background-color: #D6D6D6;
    border-color: #EDEDED;
    border-style: outset hidden hidden outset;
    box-shadow: 5px 5px 10px #BCB6B6;
}

#black{
    color: #FEFBF8;
    background-color: #000000;
    border-style: outset hidden hidden outset;
}
#red{
    background-color: #FE0000;
    color: #FEFBF8;
    border-style: outset hidden hidden outset;
}